.body{
    color:blue;
    font-size:50px;
    text-decoration:underline;
    text-align:center;
}
p{
    color: cornsilk;
}
# post{
    color:darkgreen;
    text-decoration:underline;
}
li{
    font-family: 'Courier New', Courier, monospace;
}
.image{
    background-image:url(/images.app.goo.gl/JdsvNo7ywkwAvfeq9);
    width:100px;
    height:80px
}
